* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(56, 49, 49);
    display: flex;
    justify-content: center;
}

#main-canvas {
    margin-top: 48px;
}